.bg-uno,body{
   background-color: #223240!important;
}
.bg-dos{
   background-color: #347355;
}
.bg-tres{
   background-color: #3B8C66;
}
.containerImg{
   margin: 1rem;
   display: flex;
   align-items: center;

   justify-content: center;
}

.containerImg img{
   width: 80px;
   border-radius: 10%;

}

.containerFotos{
      display: flex;
      align-items: center;
      justify-content: center;
   flex-wrap: wrap;
   margin-bottom: 7rem!important;
   flex-direction: column;

   gap: 3rem;
   @media screen  and (max-width: 600px){
   gap: 1rem;
   }
}

.card-body{
   padding: 5px!important;
   border-bottom: 1px solid white;
}
.card{
   border: none!important;
   width: 600px!important;
   min-height: 500px!important;

display: block;
   @media screen  and (max-width: 600px){
    width: 300px!important;
    min-height: auto!important;

   }
}
.card img{
   object-fit: contain;
  
}